.product-photo {
    max-height: 4rem;
}

.margin-left-24 {
    padding-left: 24px;
}

.margin-right-24 {
    padding-right: 24px;
}

.text-bold {
    font-weight: 600;
}

.text-blue {
    color: #3f51b5;
}