


<div class="container" role="main">

  <p>first works!</p>

  <div class="horizontal-divider-my"></div>

  <h2>Slider Component</h2>  

  


  <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
  <p></p>

  <button mat-button color="primary">Button</button>

  <!-- neveikia... -->
  <mat-divider></mat-divider>
  <!-- 
    Pabandyti  dar viena:
    <md-list><md-divider></md-divider></md-list>   
  -->

  <div class="horizontal-divider-my"></div>

  <button mat-flat-button color="primary">Primary</button>

  <div class="horizontal-divider-my"></div>
  <p></p>
  <mat-spinner></mat-spinner> 

</div>

